<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Officina AutoSport</title>
    <link rel="stylesheet" th:href="@{/css/my-style.css}"/>
</head>
<body>
<div class="container">
    <img class="demo-bg" th:src="@{/images/backgrounds/officina.jpg}" alt="">
    <div class="registerForm">
        <form th:action="@{/admin/intervento/save}" method="POST" >
            <h4>Nuovo intervento:</h4><br>
            <label for="tipoIntervento"><b>Servizio</b></label>
            <br>
            <select name="intervento.tipoIntervento" id="tipoIntervento">
                <option th:each="tipoIntervento : ${tipiIntervento}"
                        th:text="${tipoIntervento}"></option>
            </select>
            <br>
            <label for="descrizione"><b>Descrizione</b></label>
            <br>
            <input type="text" placeholder="Descrizione" name="descrizione" id="descrizione">
            <br>
            <label for="costo"><b>Costo</b></label>
            <br>
            <input type="text" placeholder="Costo" name="costo" id="costo">
            <br>
            <button type="submit" value="submit">Submit</button>
        </form>
    </div>
</div>
<div class="navbar">
    <a th:href="@{/}" class="homepage-link">
        Officina AutoSport
    </a>
    <div class="group-link">
        <a th:href="@{/home}" class="login-link">
            Home
        </a>
        <a th:href="@{/contacts}" class="contatti-link">
            Contatti
        </a>
    </div>
</div>
</body>
</html>