<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Officina AutoSport</title>
    <link rel="stylesheet" th:href="@{/css/my-style.css}">
</head>
<body>
<div class="container">
    <img class="demo-bg" th:src="@{/images/backgrounds/officina.jpg}" alt="">
    <div class="registerForm">
        <form th:action="@{/admin/user/register}" method="POST">
            <h1>Nome:</h1>
            <label for="name"><b>Nome</b></label>
            <br>
            <input type="text" placeholder="First name" required th:field="${user.nome}" id="name"/>
            <br>
            <label for="cognome"><b>Cognome</b></label>
            <br>
            <input type="text" placeholder="Last name" required th:field="${user.cognome}" id="cognome"/>
            <br>
            <button type="submit" value="register">Submit</button>
        </form>
    </div>
</div>
<div class="navbar">
    <ul>
        <li class="navlinks">
            <a th:href="@{/}" class="homepage-link">
                Officina AutoSport
            </a>
        </li>
        <div class="group-link">
            <li class="navlinks">
                <a sec:authorize="isAnonymous()" th:href="@{/login}" class="login-link">
                    Login
                </a>
            </li>
            <li class="navlinks">
                <a sec:authorize="isAnonymous()" th:href="@{/register}" class="register-link">
                    Register
                </a>
            </li>
            <li class="navlinks">
                <a th:href="@{/contacts}" class="contatti-link">
                    Contatti
                </a>
            </li>
            <li class="navlinks">
                <a th:href="@{/home}" class="contatti-link">
                    Home
                </a>
            </li>
            <li class="navlinks">
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/home}" class="contatti-link">
                    Admin
                </a>
            </li>
            <li class="navlinks">
                <form class="form-inline" method="post" th:action="@{/logout}">
                    <button class="logout" sec:authorize="isAuthenticated()" type="submit">Log Out
                    </button>
                </form>
            </li>
        </div>
    </ul>
</div>
</body>
</html>