<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Officina AutoSport</title>
    <link rel="stylesheet" th:href="@{/css/my-style.css}">
</head>
<body>
<div class="container">
    <img class="demo-bg" th:src="@{/images/backgrounds/officina.jpg}" alt="">
    <div class="informazioni">
        <h1 class="benvenuto"> Utente registrato correttamente!<br></h1>
        <br>
        <h2>
            Torna alla
            <a th:href="@{/default}" class="login-link-rs">
                <b>home!</b>
            </a>
        </h2>
    </div>
</div>
<div class="navbar">
    <a th:href="@{/}" class="homepage-link">
        Officina AutoSport
    </a>
    <div class="group-link">
        <a th:href="@{/home}" class="login-link">
            Home
        </a>
        <a th:href="@{/contacts}" class="contatti-link">
            Contatti
        </a>
    </div>
</div>
</body>
</html>