@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');


.container{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.registerForm{
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    width: 600px;
    height: 600px;
    border: solid black;
    text-align: center;
    background: rgba( 18, 31, 217, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
}

.loginForm{
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    width: 600px;
    height: 600px;
    border: solid black;
    text-align: center;
    background: rgba( 18, 31, 217, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    border-radius: 20px;
    font-size: 40px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #1504aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-link-rs{
    color: yellow;
}

.mappa{
    width: 500px;
    height: 200px;
    opacity: 0.8;
}

.benvenuto{
    font-size: 60px;
}

.customer-link{
    font-size: 30px;
    color: white;
}

.customer-link:hover{
    color: yellow;
}

.demo-bg{
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

table, th, td {
    border: 1px solid blue;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
}

.navbar{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 18, 31, 217, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.group-link{
    margin-left: 200px;
}


.homepage-link{
    position: absolute;
    left: 2%;
    color: white;
    font-size: 50px;
}

.login-link, .register-link, .contatti-link{
    color: white;
    margin: 0;
    font-size: 40px;
    padding-right: 10px;
}

.homepage-link:hover, .login-link:hover, .register-link:hover{
    color: yellow;//
}

.informazioni{
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    width: 600px;
    height: 600px;
    border: solid black;
    text-align: center;
    background: rgba( 18, 31, 217, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    border-radius: 20px;
}

.informazioni-titolo{
    font-size: 40px;
}

.informazioni-testo{
    font-size: 30px;
}

