<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Officina AutoSport</title>
  <link rel="stylesheet" th:href="@{/css/my-style.css}">
</head>
<body>
<div class="container">
  <img class="demo-bg" th:src="@{/images/backgrounds/officina.jpg}" alt="">
  <div class="informazioni">
    <table>
      <thead>
      <tr>
        <th> Servizio</th>
        <th> Data prenotazione</th>
        <th> Data appuntamento</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="intervento : ${interventi}">
        <td><span th:text="${interventi.tipoIntervento}"> Servizio </span></td>
        <td><span th:text="${tipoIntervento.dataPrenotazione}"> Data prenotazione </span></td>
        <td><span th:text="${tipoIntervento.appuntamento}"> Data appuntamento </span></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="navbar">
  <a th:href="@{/}" class="homepage-link">
    Officina AutoSport
  </a>
  <div class="group-link">
    <a th:href="@{/login}" class="login-link">
      Login
    </a>
    <a th:href="@{/register}" class="register-link">
      Register
    </a>
    <a th:href="@{/contacts}" class="contatti-link">
      Contatti
    </a>
  </div>
</div>
</body>
</html>